* {
    box-sizing: border-box;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#cyan {
    background-color: cyan;
}

#purple {
    background-color: purple;
}

#blue {
    background-color: blue;
}